@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;300;400;500;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
    --main-yellow: #f9bf3b;
    --grey-forText: #4a4a4a;
    --white-blue: #299cbd;
}

::-webkit-scrollbar {
    width: 0;
}

@keyframes move_up_down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
p,
h1,
h2,
h3,
h4,
a {
    font-family: "Roboto", sans-serif;
}
hr {
    border: none;
    margin: 0;
}

.logo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.logo img {
    width: 83px;
}
.brand-name {
    text-transform: uppercase;
    color: white;
}
.slogan {
    margin: 53px 0 23px;
    text-transform: uppercase;
}
.slogan h2 {
    font-size: 41px;
    color: var(--main-yellow);
    text-align: center;
    margin: 0;
    font-weight: 900;
}
.slogan-part {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.slogan-part h1 {
    font-size: 80px;
    font-weight: 900;
    margin: 0;
}
.slogan hr {
    width: 292px;
    height: 2px;
    background-color: #fff;
    margin: 0;
}
.description p {
    width: 1144px;
    margin: 0 auto;
    word-break: keep-all;
    font-size: 21px;
    font-weight: 300;
    color: white;
}
.bold-yellow {
    font-weight: 900;
    color: var(--main-yellow);
}
.reg-btn {
    display: block;
    max-width: fit-content;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 21px;
    background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    padding: 25px 30px;
    color: rgb(230, 230, 230);
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
.reg-btn:hover {
    color: #fff;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.promo .reg-btn{
    margin: 72px auto 70px;
}
.link-about {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
}
.link-about .container{
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}
.link-about p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}
.link-about:hover img {
    animation: move_up_down 1.5s ease infinite;
}
.promo {
    background-image: url(../img/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0 60px;
}

.about {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 84px 0 75px;
    background-color: #efefef;
}
.about h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    color: #252525;
    margin: 0 0 15px;
}
.about h4 {
    font-size: 23px;
    color: var(--grey-forText);
    font-weight: normal;
    margin: 19px 0 0;
}
.about hr {
    width: 220px;
    height: 7px;
    background-color: var(--main-yellow);
}
.about .content {
    margin: 45px 0 0;
    gap: 48px;
}
.about p {
    color: #4a4a4a;
}
.content {
    display: flex;
    flex-flow: row wrap;
}
.content .col {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 25px;
}
.content img {
    max-width: fit-content;
}
.content p {
    max-width: 392px;
    font-size: 15px;
    text-align: center;
    font-weight: 100;
    margin: 0;
}
.content {
    display: flex;
    justify-content: center;
}

.additional {
    padding: 100px 0 60px;
    background-image: url(../img/woman_bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100px 50px;
}
.additional h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
}
.additional .text {
    width: 750px;
    margin-left: 750px;
    font-weight: 300;
}
.text p {
    margin: 32px 0;
}
.text p:last-of-type {
    font-weight: 500;
    margin-bottom: 0;
}
.bold-blue {
    font-weight: 900;
    color: var(--white-blue);
    text-transform: uppercase;
}

.skills {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-image: url(../img/second_bg.png);
    background-size: cover;
    padding: 86px 0 69px;
}
.skills h3 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
}
.skills hr {
    width: 220px;
    height: 7px;
    background-color: var(--main-yellow);
    margin: 18px 0 39px;
}
.skills .col p {
    width: 180px;
    color: #efefef;
}
.skills .content {
    gap: 50px;
}

.bonus {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #efefef;
    padding: 88px 0;
}
.bonus p {
    width: 1161px;
    font-size: 30px;
    text-align: center;
    margin: 45px 0 51px;
}

.info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding: 90px 0 50px;
}
.info p:first-of-type {
    color: #252525;
    font-size: 30px;
    text-transform: uppercase;
    margin: 36px 0 0;
}
.info p:last-child {
    font-size: 23px;
    color: var(--grey-forText);
    margin: 0;
}
.info .bold-blue {
    font-size: 36px;
    margin: 30px 0 25px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.links a {
    margin: 0;
    color: #888;
    transition: .3s ease;
}
.links a:hover {
    color: rgb(177, 177, 177);
}
.links div a:first-of-type::after {
    content: "|";
    margin: 0 5px;
    color: #888;
}
.links div {
    display: flex;
    margin: 0 0 5px;
}
footer {
    background-color: #1a1a1a;
    padding: 57px 0 69px;
}
